$custom-primary: (
  50 : #E0F1F3,
  100 : #B3D7DE,
  200 : #80BBC7,
  300 : #4D9FB0,
  400 : #268BA0,
  500 : #0A606F,
  600 : #095863,
  700 : #084D56,
  800 : #074349,
  900 : #053234,
  A100 : #B9E9F2,
  A200 : #86D6E6,
  A400 : #4AC1D9,
  A700 : #32B5D2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$gold-prime: (
  50 : #fdf7e1,
  100 : #faebb3,
  200 : #f6de80,
  300 : #f2d14d,
  400 : #efc726,
  500 : #E5BF24,
  600 : #c9a920,
  700 : #a98f1b,
  800 : #8a7516,
  900 : #5c4d0f,
  A100 : #fff8cc,
  A200 : #ffe066,
  A400 : #ffcc00,
  A700 : #e6b800,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);