<div class="forgot-password startup-page">
  <div class="forgot-card glassEffect">
    <div>
      <img class="img-fluid mb-2" src="assets/logo/logo-sticky.png" alt="Logo" />
      <h2>{{forgotPasswordConstants.FORGOT_PASSWORD_TITLE}}</h2>
      <p>{{forgotPasswordConstants.FORGOT_PASSWORD_DESCRIPTION}}</p>

      <form [formGroup]="forgotForm" class="w-100">
        <mat-form-field appearance="fill" class="w-100">
          <!-- Email Icon -->
          <mat-icon matPrefix color="primary">mail</mat-icon>
          <!-- Input Field -->
          <input matInput type="email" formControlName="email" required placeholder="Email">
          <!-- Error Messages -->
          <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" class="w-100 login-btn" color="accent" (click)="submitForgot()">
            {{forgotPasswordConstants.FORGOT_PASSWORD_BUTTON}}
          </button>
        </div>


        <div class="text-center mt-3">
          <span class="back-to-login cursor-pointer fmedium" (click)="routeToLogin()">Back to Login</span>
        </div>
      </form>
    </div>
  </div>
</div>