
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import "..//src/app/core/theme-essentials/custom_palette.scss";
$ui-primary: mat.m2-define-palette($custom-primary);
$ui-accent: mat.m2-define-palette($gold-prime);
// Define the theme object.
$cos-expense-mgmt-fe-theme: mat.m2-define-light-theme((
  color: (
    theme-type: light,
    primary: $ui-primary,
    accent: $ui-accent
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($cos-expense-mgmt-fe-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($cos-expense-mgmt-fe-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($cos-expense-mgmt-fe-theme);